/********************
General
********************/
/* Main Primary color */
/* Main Secondary color (1) */
.body {
  background-color: #4861A0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

h1 {
  vertical-align: middle; }

h3, h5, li {
  font-family: Nunito, Sans-serif;
  color: #151515; }

.content-wrapper {
  margin: 0 auto;
  padding: .5em 0;
  width: 95%;
  background-color: #6B82BB; }
  .content-wrapper h3 {
    margin: 0 auto .4em;
    width: 93%;
    text-align: center; }
  .content-wrapper h5 {
    margin: .8em 2%; }

/********************
Header
********************/
header {
  background-color: #b0b09e;
  padding: 0 0 .5em;
  white-space: nowrap;
  overflow: hidden; }
  header h1 {
    margin: 0;
    padding: 0 0 0 .4em;
    width: 55%;
    white-space: normal;
    color: #304B8F;
    display: inline-block; }

.header_wrapper {
  background-color: #c6c6b2; }

.header_contact {
  display: none; }

/********************
Navigation
********************/
nav {
  width: 45%;
  display: inline-block;
  white-space: normal;
  vertical-align: middle; }
  nav ul {
    padding: 0 .8em; }
    nav ul li {
      font-family: Nunito, Sans-serif;
      padding: 0 .4em 0 0;
      margin: 0;
      white-space: nowrap; }

.nav_links {
  padding: .4em;
  margin: .1em;
  max-width: 100px; }
  .nav_links p {
    margin: 0 auto;
    padding: 0;
    width: 75%;
    color: #304B8F;
    transition: font-size .5s ease;
    font-size: 16px; }
  .nav_links:hover p {
    color: #6B82BB;
    font-size: 20px; }
  .nav_links .selected {
    color: #6B82BB; }

/********************
Home Page
********************/
@keyframes slidy {
  0% {
    left: 0%; }
  20% {
    left: 0%; }
  25% {
    left: -100%; }
  45% {
    left: -100%; }
  50% {
    left: -200%; }
  70% {
    left: -200%; }
  75% {
    left: -300%; }
  95% {
    left: -300%; }
  100% {
    left: -400%; } }
div#slider {
  overflow: hidden;
  margin: .4em 2%; }

div#slider figure img {
  width: 20%;
  float: left; }

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; }

.content-wrapper, .slider-wrapper {
  border-top: 0.3em solid #4861A0;
  border-bottom: 0.3em solid #4861A0; }

.home_main-content {
  background-color: #9CAED9;
  margin: 0 2%;
  padding: 1.4%;
  line-height: 1.5;
  font-family: Nunito, Sans-serif;
  font-weight: 300; }

/********************
About Page
********************/
.about-wrapper div, .worship-wrapper div, .history-wrapper div {
  margin: .8em 2.5%;
  padding: 0;
  display: inline-block;
  vertical-align: middle; }
  .about-wrapper div img, .worship-wrapper div img, .history-wrapper div img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px; }
  .about-wrapper div h3, .worship-wrapper div h3, .history-wrapper div h3 {
    margin: 0;
    padding: 0;
    text-align: left; }
  .about-wrapper div p, .worship-wrapper div p, .history-wrapper div p {
    margin: 0;
    padding: .5em;
    max-width: 700px; }

.about-pic, .worship-pic, .history-pic section {
  width: 20%;
  background-color: #9CAED9;
  border-radius: 20px; }
  .about-pic p, .worship-pic p, .history-pic section p {
    margin: 0;
    padding: .8em 0;
    background: none; }

.about-content {
  width: 45%;
  padding: .8em 0; }

/********************
Worship
********************/
.worship-pic {
  width: 74%; }
  .worship-pic p {
    text-align: center; }

.worship-content {
  width: 16%;
  vertical-align: top; }

/********************
History
********************/
.history-pic {
  width: 40%; }
  .history-pic section {
    vertical-align: top;
    display: inline-block;
    margin: 2%;
    width: 41%; }
    .history-pic section p {
      margin: 0 .4em;
      display: none; }
    .history-pic section:hover p {
      display: block; }

.history-content {
  width: 50%; }

/********************
Location
********************/
#map {
  width: 80%;
  margin: 0 auto;
  height: 400px; }

/********************
Footer
********************/
footer {
  margin: 0;
  padding: .5em 0;
  background-color: #b0b09e; }

.footer-wrapper {
  margin: 0 .5em;
  background-color: #c6c6b2;
  white-space: nowrap;
  overflow: hidden; }
  .footer-wrapper h5 {
    margin: 0;
    font-size: 12px; }
  .footer-wrapper div {
    padding: .5em 0 .5em .8em;
    width: 40%;
    display: inline-block;
    white-space: normal;
    vertical-align: middle; }
  .footer-wrapper h3 {
    margin: .4em;
    padding: 0;
    text-align: center; }

.footer-info {
  margin: 0;
  padding: .5em 0 0 0;
  width: 60%;
  display: inline-block;
  white-space: normal;
  vertical-align: middle; }
  .footer-info li {
    margin: 0 2em 0 0;
    white-space: normal;
    font-size: 12px;
    text-align: right; }

.footer-nav {
  margin: 0;
  padding: 0; }
  .footer-nav li {
    margin: 0 auto;
    width: 20%;
    float: left; }

.footer_links {
  padding: .2em;
  text-align: center; }
  .footer_links p {
    color: #151515; }
  .footer_links .selected {
    color: #eee; }

/********************
Media Queries
********************/
@media screen and (max-width: 400px) {
  .footer-nav {
    padding: 0; }
    .footer-nav li {
      margin: 0 auto;
      width: 33.33333%;
      float: left; } }
/********************
Animations
********************/

/*# sourceMappingURL=main.css.map */
